<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'rank' %}">Word Rank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'tools' %}active{% endif %}" href="{% url 'tools' %}" target="_blank">Tools Page</a>
                </li>
            {% endif %}
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">Admin</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'learnedList' %}active{% endif %}" href="{% url 'learnedList' %}">Learned</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'noteList' %}active{% endif %}" href="{% url 'noteList' %}">Note</a>
                </li>
            {% endif %}
        </ul>
        {% if user.is_authenticated %}
            <div class="my-2 my-lg-0">
                <a href="{% url 'logout' %}">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
                </a>
            </div>
        {% endif %}
    </div>
</nav>