{% extends '_base.html' %}

{% block title %}
    <title>Article - {{ title }}</title>
{% endblock %}

{% block body %}
    <style>
        br {
            content: "";
            margin: 2em;
            display: block;
            font-size: 100%;
        }
    </style>

    <div class="mx-auto my-2" style="width:90%;">
        {% if exist %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ title }}</h5>
                    <p class="card-text text-justify" id="context">{{ content | linebreaksbr }}</p>
                </div>
            </div>
            {{ highlight | json_script:'highlight' }}
        {% else %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No such article was found.</h5>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% if exist %}
    {% block script %}
        <script>
            (() => {
                let highlight_sentence = (string, str_to_highlight) => {
                    try {
                        let reg = new RegExp('[^\.\?\!]*(?<![a-zA-Z0-9])' + str_to_highlight + '(?![a-zA-Z0-9])[^\.]*[\.|\?|\!]', 'gi');
                    } catch (e) {
                        let reg = new RegExp('[^.]*\W' + str_to_highlight + '\W[^.]*\.', 'gi');
                    }
                    return string.replace(reg, (str) => {
                        return '<span style="background-color: lightskyblue;"><b>' + str + '</b></span>';
                    });
                };
                let highlight_word = (string, str_to_highlight) => {
                    try {
                        let reg = new RegExp('(?<![a-zA-Z0-9])' + str_to_highlight + '(?![a-zA-Z0-9])', 'gi');
                    } catch (e) {
                        let reg = new RegExp('\W' + str_to_highlight + '\W', 'gi');
                    }
                    return string.replace(reg, (str) => {
                        return '<span style="color: red;">' + str + '</span>';
                    });
                };
                let context = document.getElementById('context');
                let highlight = JSON.parse(document.getElementById('highlight').textContent);
                if (highlight) {
                    context.innerHTML = highlight_sentence(context.innerHTML, highlight);
                    context.innerHTML = highlight_word(context.innerHTML, highlight);
                }
            })();
        </script>
    {% endblock %}
{% endif %}