{% extends '_base.html' %}

{% block title %}
    <title>Form</title>
{% endblock %}

{% block body %}

    <div class="mx-auto mt-5" style="width: 40rem;">
        <div class="card bg-light">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="text-center">
                        <input type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}