{% extends '_base.html' %}

{% block title %}
    <title>Note - {{ word }}</title>
{% endblock %}

{% block body %}
    <div class="mx-auto my-2" style="width:90%;">
        {% if exist %}
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title"><a href="{% url 'word' word %}">{{ word }}</a></h2>
                    <div class="mt-1">
                        <a href="{% url 'editNote' word %}">
                            <button type="submit" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Edit</button>
                        </a>
                    </div>
                    <div class="mt-1">
                        <form action="{% url 'delNote' %}" method="post">
                            {% csrf_token %}
                            <input name="word" value="{{ object.word }}" hidden>
                            <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Dictionary</h5>
                        <div><a href="https://dictionary.cambridge.org/zht/%E8%A9%9E%E5%85%B8/%E8%8B%B1%E8%AA%9E-%E6%BC%A2%E8%AA%9E-%E7%B9%81%E9%AB%94//{{ relate.word }}/">Cambridge</a></div>
                        <div><a href="https://english4formosa.com/dictionary/{{ relate.word }}/">E4F</a></div>
                    </li>
                    <li class="list-group-item">
                        <h5>Note</h5>
                        <p>{{ note | linebreaksbr }}</p>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No such note was found.</h5>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}