{% extends '_base.html' %}

{% block title %}
    <title>Text Processing Tool</title>
{% endblock %}

{% block body %}
    <div class="mx-auto" style="width: 30rem;">
        <div class="list-group">
            <a href="{% url 'stopwords' %}" class="list-group-item list-group-item-action list-group-item-success">Hid Words</a>
            <a href="{% url 'uploadArticle' %}" class="list-group-item list-group-item-action list-group-item-danger">Upload Article</a>
            <a href="{% url 'restore' %}?parse=1" class="list-group-item list-group-item-action list-group-item-danger">Restore Words Online</a>
            <a href="{% url 'restore' %}" class="list-group-item list-group-item-action list-group-item-danger">Restore Words Local</a>
            <a href="{% url 'admin:WordFrequency_article_changelist' %}" class="list-group-item list-group-item-action list-group-item-warning">Total Article: {{ article_count }}</a>
            <a href="{% url 'admin:WordFrequency_word_changelist' %}" class="list-group-item list-group-item-action list-group-item-warning">Total Restored Word: {{ restored_count }} / {{ word_count }}</a>
        </div>
    </div>

{% endblock %}