{% extends '_base.html' %}

{% block title %}
    <title>Word - {{ word }}</title>
{% endblock %}

{% block body %}
    <div class="mx-auto my-2" style="width:90%;">
        {% if exist %}
            <div class="card text-center">
                <div class="card-body">
                    <h2 class="card-title">{{ word }} <a href="{% url 'editNote' word %}" class="text-danger" title="Note"><i class="fas fa-bookmark"></i></a></h2>
                    {% if sound %}
                        <audio id="sound" src="{{ sound }}" preload="auto"></audio>
                        <h5><a class="text-muted" href="javascript:document.getElementById('sound').play();"><i class="fas fa-volume-up"></i></a></h5>
                    {% endif %}
                    <p class="card-text">Count: {{ times }}</p>
                    {% if learned %}
                        <form action="{% url 'unlearned' %}" method="post">
                            {% csrf_token %}
                            <input name="word" value="{{ word }}" hidden>
                            <button type="submit" class="btn btn-sm btn-outline-danger"><i class="fas fa-times"></i> Unlearned</button>
                        </form>
                    {% else %}
                        <form action="{% url 'learned' %}" method="post">
                            {% csrf_token %}
                            <input name="word" value="{{ word }}" hidden>
                            <button type="submit" class="btn btn-sm btn-outline-success"><i class="fas fa-check"></i> Learned</button>
                        </form>
                    {% endif %}
                    {% if user.is_superuser %}
                        <div class="mt-1">
                            {% if stopword %}
                                <form action="{% url 'delStopwords' %}" method="post">
                                    {% csrf_token %}
                                    <input name="word" value="{{ word }}" hidden>
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Show</button>
                                </form>
                            {% else %}
                                <form action="{% url 'addStopwords' %}" method="post">
                                    {% csrf_token %}
                                    <input name="word" value="{{ word }}" hidden>
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Hide</button>
                                </form>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h5>Related Words:</h5>
                        {% for relate in related %}
                            <div>{{ relate.word }} (<a href="https://dictionary.cambridge.org/zht/%E8%A9%9E%E5%85%B8/%E8%8B%B1%E8%AA%9E-%E6%BC%A2%E8%AA%9E-%E7%B9%81%E9%AB%94//{{ relate.word }}/">Cambridge</a>, <a href="https://english4formosa.com/dictionary/{{ relate.word }}/">E4F</a>)
                            </div>
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        <h5>Included Articles:</h5>
                        {% for article in articles %}
                            <div><a href="{% url 'article' article.article %}?highlight={{ word }}">{{ article.article }} (count: {{ article.sum }})</a></div>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">No such word was found.</h5>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}